body{
    font-family: 'Poppins'
}
.upper{
    overflow: hidden;
}
.contract{
    padding: 10px;
}
.contract a{
    text-decoration: none;
    text-shadow: 3px 3px 4px white;
    font-weight: s;
}

.contract a:hover{
   color: orange;
}
.social{
    margin-left: 100px;
}
.social-link{
    margin-left: 100px;
    padding: 10px;
}
.social-link a{
    margin-left: 30px;
    
    border-radius: 30px;
}
.social-link a i{
    overflow: hidden;
    color:white;
    font-size: 25px;
 
    
  
}
.social-link a i:hover{
    background: orange;
    
}
.marquee-section{
    width: 25%;
    height: 40px;
    background: whitesmoke;
    margin-left: 15%;
}
.head-img{
    border-radius: 50px;
    border: 2px solid black;
    margin-left: 60px;
}
.logo-img{
    width: 90px;
    height: 90px;
    transition: transform 2s ease-in-out ;
    overflow:hidden ;
    box-sizing: border-box;
}
.logo-img:hover{
    transform: rotate(360deg);
    width: 120px;
    height: 120px;
    overflow:hidden;
    box-sizing: border-box;
}
.img-slide{
    width: 100%;
    height: 600px;
}


.color{
    background: lightcyan;
}
